    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container-xl">
<h2>Edit Equipment</h2>

<form method="post" class="my-4">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Hardware Type</th>
                <th>Vendor</th>
                <th>Model</th>
                <th>Service Tag</th>
                <th>Location</th>
                <th>Status</th>
                <th>Purchase Date</th>
                <th>Licences</th>
                <th>Company</th>
                <th>Change Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            	{% if form.instance.pk %}
                <tr>
                    <td>{{ form.id }}</td>
                    <td>{{ form.hwtype }}</td>
                    <td>{{ form.vendor }}</td>
                    <td>{{ form.model }}</td>
                    <td>{{ form.stag }}</td>
                    <td>{{ form.location }}</td>
                    <td>{{ form.status }}</td>
                    <td>{{ form.pdate }}</td>
                    <td>{{ form.licence }}</td>
                    <td>{{ form.company }}</td>
                    <td>{{ form.record }}</td>
                    <td>
                        <form method="post" action="{% url 'delete_equipment' form.instance.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {%endif %}
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="button" onclick="goBack()" class="btn btn-secondary">Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

</form>

</div>



